# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Docker build cache
.dockerignore

# Other potentially sensitive or large files/directories
*.log
*.sql
data/ 

.idea/
.cursor/
.DS_Store